@import "tailwindcss";

@theme {
  --color-tct-teal: #73d1d3;
  --color-tct-orange: #ff5a24;
  --color-tct-orange-alt: #f15a24;
  --color-tct-yellow: #f7931e;
  --color-tct-green: #39b54a;
  --color-tct-green-alt: #22b573;
  --color-tct-blue: #2e7b9d;
  
  --font-arial-rounded: "Arial Rounded MT Bold", "Arial", sans-serif;
  
  --color-background: #ffffff;
  --color-foreground: var(--color-tct-blue);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: var(--color-tct-teal);
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-arial-rounded);
}
